<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= label_tag(:username) %>
  <%= f.text_field :username %>
  <%= label_tag(:password) %>
  <%= f.password_field :password %>
  <%= label_tag(:email) %>
  <%= f.email_field :email, placeholder: "yourmail@mail.com" %>
  <%= f.submit "Submit" %>
<% end %>